.stats{
    background:#2563eb;
    color:white;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    padding:60px;
    text-align:center;
}

.stat h1{
    font-size:48px;
}

.stat p{
    margin-top:10px;
    font-size:18px;
}
