.job-card{
    background:white;
    border-radius:12px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.job-card:hover{
    transform:translateY(-6px);
}

.job-card h3{
    color:#2563eb;
    margin-bottom:15px;
}

.job-card p{
    margin:10px 0;
}

.job-card button{
    margin-top:20px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-weight:bold;
}
