.footer{
    background:#1E293B;
    color:white;
    text-align:center;
    padding:60px 20px;
}

.footer h2{
    margin-bottom:15px;
}

.footer-links{
    margin:30px 0;
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.footer-links a{
    color:white;
}

.footer-links a:hover{
    color:#60A5FA;
}

.copyright{
    margin-top:20px;
    color:#ccc;
}
